# SETS

In [4]:
set_var= set()
print(set_var)
type(set_var)

set()

set

In [8]:
set_var={1,2,3,4,4}

In [9]:
set_var

{1, 2, 3, 4}

In [13]:
set_var={"Avengers","IronMan","Hitman"}

In [14]:
type(set_var)

set

In [16]:
set_var
type(set_var)

set

In [19]:
set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [35]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [26]:
set1==set2

False

In [36]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [37]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [38]:


set2.difference(set1)

{'Hulk2'}

In [39]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [34]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [40]:

set2.difference_update(set1)

In [41]:
set2

{'Hulk2'}

# Dictionaries

In [42]:
dic={}

In [43]:
type(dic)

dict

In [44]:
set_ex={1,2,3,4,5}

In [45]:
type(set_ex)

set

In [46]:
my_dict={"car1":"audi","car2":"bmw","car3":"benz"}

In [47]:
my_dict

{'car1': 'audi', 'car2': 'bmw', 'car3': 'benz'}

In [ ]:
type(my_dict)

In [49]:
my_dict["car1"]

'audi'

In [51]:
for x in my_dict:
    print(x)

car1
car2
car3

In [52]:
for x in my_dict.values():
    print(x)

audi
bmw
benz

In [54]:
for x in my_dict.items():
    print(x)

('car1', 'audi')
('car2', 'bmw')
('car3', 'benz')

In [55]:
my_dict["car4"]="Audi 2.0"

In [56]:
my_dict

{'car1': 'audi', 'car2': 'bmw', 'car3': 'benz', 'car4': 'Audi 2.0'}

In [58]:
my_dict["car1"]="maruti"
my_dict

{'car1': 'maruti', 'car2': 'bmw', 'car3': 'benz', 'car4': 'Audi 2.0'}

# Nested Dictionary

In [60]:
car1_model={"merc":1960}
car2_model={"Audi":1970}
car3_model={"Ambassidor":1980}

In [61]:
car_type={"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [62]:
car_type

{'car1': {'merc': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassidor': 1980}}

In [63]:
print(car_type["car1"])

{'merc': 1960}

In [64]:
print(car_type["car1"]["merc"])

1960

# Tuples

In [80]:
my_tuple=tuple()

In [81]:
type(my_tuple)

tuple

In [82]:
my_tuple=()

In [83]:
my_tuple=("shiva","ankit","john")

In [84]:
type(my_tuple)

tuple

In [85]:


my_tuple

('shiva', 'ankit', 'john')

In [86]:
type(my_tuple)

tuple

In [89]:
my_tuple.count("ankit")

1

In [90]:
my_tuple.index("ankit")

1